.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*HEADER*/
.navbar {
	border: none;
}
.navbar-inverse .navbar-nav  .active  a {
	background-color: #2c3e50;
}
/*fin header*/
/*carousel slide*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
  		background-position: 100%;
  		background-repeat: no-repeat;
  		background-size: cover;
      width: 100%;
      height: auto;
      margin: auto;  
}
/*fin carousel slide*/
/*circle social icons*/
.circle-social {
  	width: 25%;
  	height: 0;
  	padding: 10%;
  	border-radius: 50%;
    background: #447a1c;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}
/*fin circle social icons*/
/*COLOR*/
.bg-blue-dark {
	background-color: #34495e
}
.bg-blue {
	background-color: #2c3e50;
}
.bg-green {
	background-color: #2ecc71;
}
/*fin color*/
/*TEXT*/
.text-lighter {
	color: #eee;
}
/*fin text*/
/* MEDIDAS */
.pd-1 {
	padding: 1% 0;
}
.pd-2 {
	padding: 2% 0;
}
.pd-3 {
	padding: 3% 0;
}
.pd-4 {
	padding: 4% 0;
}
.pd-5 {
	padding: 5% 0;
}
.pd-6 {
	padding: 6% 0;
}
.pd-12-5 {
	padding: 12% 0 5% 0;
}
/*fin medidas*/
/*--Index Bottom--*/
*{
	font-family:"Roboto";
}
.bgRed,.bgBlue,footer,a,.inputBttn{
	color:#EEEEEE;
}
li{
	list-style:none;
}
ul{
	padding-left:0px;
}
.bgRed{
	background:#E74C3C;
}
.bgBlue,nav .pagination a:hover{
	background:#34495E;
}
footer{
	background:#2C3E50;
}
.bgRed,.bgBlue,footer,.teamContent,.aboutContent,.blog{
	padding:30px 0px 20px 0px;
}
.smallFont{
	font-size:12px;
	line-height:14px;
}
.title>h2,.title>p,.teamContent{
	text-align:center;
}
.bgBlue p,.smallFont, .bgBlue a, footer a{
	opacity:0.7;
}
.bgBlue form *,.thumbText div, .progress div,.btn-group .btn{
	padding:5px;
}
.bgBlue a:hover, footer a:hover{
	text-decoration:none;
	color:#34495E;
	background:rgba(238,238,238,0.7);
	padding:0 5px;
}
.cita{
	border-left:4px solid #EEEEEE;
	padding:5px 20px;
}
.bgBlue h4,.cita{
	margin-top:20px;
	margin-bottom:20px;
}
.thumbText img{
	vertical-align:text-bottom;
}
.thumbText div{
	width:70%;
	display:inline-block;
}
.inputText{
	color:#34495E;
	background:#EEEEEE;
	width:70%;
	height:30px;
	border:1px solid #CCCCCC;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.inputBttn{
	background:#E74C3C;
	width:20%;
	height:30px;
	border:1px solid #D43F3A;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
footer li{
	display:inline-table;
	margin-left:20px;
}
/*--Index Bottom--*/
/*--ABOUT-US--*/
.aboutContent,.blog{
	background:#F5F5F5;
}
.aboutContent, .teamContent,.pagination a,.rightColumn a{
	color:#34495E;
}
.progress{
	height:30px;
	background:white;
}
.whiteText,.pagination a:hover,.active a{
	color:white;
}
.social,.teamItem img{
	border-radius:100%;
}
.teamItem img{
	border:4px solid white;
	max-width:100%;
}
.name,.teamItem img{
	margin:10px 0px 0px 0px;
}
.social{
	border:none;
	width:35px;
	height:35px;
	margin-bottom:10px;
}
.face{
	background:#4F7DD4;
}
.gplus{
	background:#DC422B; 
}
.tweet{
	background:#5BCEFF; 
}
.linked{
	background:#21A6D8; 
}
.pageTitle{
	margin-top:50px;
}
/*--ABOUT-US--*/
/*--BLOG--*/
.leftColumn .btn-group .btn,.rightColumn .btn{
	border:none;
	height:30px;
	margin:0 5px 10px 0px;
}
.rightColumn .row,.thumbnail,.rightColumn input,.rightColumn .thumbnail{
	margin-bottom:10px;
}
.faIcon{
	display:inline;
}
/*--BLOG--*/
.pageTitle,.social-marketing{
	padding-top:50px;
}