@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*--Index Bottom--*/
*, a{
	font-family:"Roboto";
	color:#EEEEEE;
}
li{
	list-style:none;
}
ul{
	padding-left:0px;
}
.bgRed{
	background:#E74C3C;
}
.bgBlue{
	background:#34495E;
}
footer{
	background:#2C3E50;
}
.bgRed,.bgBlue,footer{
	padding-top:30px;
	padding-bottom:50px;
}
footer,.title>p{
	padding-bottom:20px;
}
.smallFont{
	font-size:12px;
}
.title>h2,.title>p{
	text-align:center;
}
.bgBlue p,.smallFont, .bgBlue a, footer a{
	opacity:0.7;
}
.bgBlue form *,.thumbText div{
	padding:5px;
}
.bgBlue a:hover, footer a:hover{
	text-decoration:none;
	color:#34495E;
	background:rgba(238,238,238,0.7);
	padding:0 5px;
}
.cita{
	border-left:4px solid #EEEEEE;
	padding:5px 20px;
}
.bgBlue h4,.cita{
	margin-top:20px;
	margin-bottom:20px;
}
.thumbText img{
	vertical-align:text-bottom;
}
.thumbText div{
	width:70%;
	display:inline-block;
}
.inputText{
	color:#34495E;
	background:#EEEEEE;
	width:70%;
	border:1px solid #CCCCCC;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.inputBttn{
	background:#E74C3C;
	width:20%;
	border:1px solid #D43F3A;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
footer li{
	display:inline-table;
	margin-left:20px;
}
/*--Index Bottom--*/